<form #dataForm="ngForm"
      class="form-group">
  <div class="container-fluid">
    <div class="form-group"> <label for="contactEmailAddress">Email Address</label>

      <input [(ngModel)]="emailAddress.emailAddress"
             #contactEmailAddress="ngModel"
             id="contactEmailAddress"
             name="contactEmailAddress"
             placeholder="Email Address"
             class="form-control form-control-lg ta-input-element"
             type="text"
             pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
             required
             autofocus>
      <div [hidden]="contactEmailAddress.valid || contactEmailAddress.pristine"
           class="alert alert-danger"> <i class="fa fa-exclamation-triangle"
           aria-hidden="true"></i> Email Address is required </div>
    </div>
    <div class="form-group"> <label for="contactEmailAddressType">Email Address
        Type</label>

      <select [(ngModel)]="emailAddress.emailAddressType"
              name="contactEmailAddressType"
              id="contactEmailAddressType"
              class='form-control form-control-lg ta-input-element'>
        <option value=""></option>
        <option *ngFor="let e of emailTypes"
                value="{{e.name}}">{{e.name}}</option>
      </select> </div>
    <div class="checkbox abc-checkbox abc-checkbox-success abc-checkbox-circle">

      <input [(ngModel)]="emailAddress.draft"
             id="dataDraft"
             name="dataDraft"
             type="checkbox">
      <label for="dataDraft"
             title="Draft indicates the record is not finished and should not be made public">Private</label>
    </div>
    <div class="checkbox abc-checkbox abc-checkbox-success abc-checkbox-circle">

      <input [(ngModel)]="emailAddress.deleted"
             id="dataDeleted"
             name="dataDeleted"
             type="checkbox">
      <label for="dataDeleted"
             title="Checking deleted marks the record as deleted, but does not remove the record from the database">Deleted</label>
    </div>
    <div class="form-group"><label for="dataKeywords">Keywords</label>

      <input [(ngModel)]="emailAddress.keywords"
             id="dataKeywords"
             name="dataKeywords"
             type="text"
             class="form-control form-control-lg ta-input-element"
             placeholder="Enter keywords seperated by commas"></div>
    <div class="row">
      <div class="col text-center">
        <button class="btn btn-primary btn-lg btn-round"
                (click)="onSubmit()"
                type="submit"
                [disabled]="!dataForm.form.valid"
                title="Submit to database">Save <i class="fa fa-cloud"
             aria-hidden="true"></i>
        </button>
        <button *ngIf="canDelete"
                class="btn btn-danger btn-lg btn-round"
                (click)="onDelete();dataForm.reset()"
                [hidden]="!emailAddress.id">Delete <i class="fa fa-times"
             aria-hidden="true"></i>
        </button>
      </div>
    </div>
  </div>
</form>
