<div id="page" class="site">
  <header id="masthead" class="site-header">
    <app-nav></app-nav>
  <licky-lick-marketing-simple-header [headingText]="'Privacy'" [backgroundImage]="'assets/images/privacy.jpg'"></licky-lick-marketing-simple-header>
</header>
</div>
<div id="content" class="site-content">
		<div id="primary" class="content-area">
			<main id="main" class="site-main">
        <licky-lick-marketing-simple-page [bodyText]="bodyText"></licky-lick-marketing-simple-page>
      </main>
    </div>
</div>
<licky-lick-marketing-footer1
  [headingText1]="'About'"
  [descriptionText]="'We believe in harnassing the power of computers, by not only collecting information, but analyzing the information, and proactively providing answers and courses of action. We also do not believe in searching, but finding.'"
  [column1Heading] = "'Projects'"
  [column1Text1] = "'News'"
  [column1Text2] = "'Project'"
  [column1Text3] = "'E-Commerce'"
  [column1Text4] = "'Task-Assistant'"
  [column1Text5] = "'SFA'"
  [column2Heading] = "'Support'"
  [column2Text1] = "'Github'"
  [column2Text2] = "'Privacy'"
  [column2Button2Link] = "'/about/privacy'"
  [column2Text3] = "'Contact'"
  [column2Button3Link] = "'/about/contact'"
  [column2Text4] = "null"
  [column2Text5] = "null"
  [column3Heading] ="null"
  [footerText] = "'Copyright Taliferro. All rights reserved.'"
></licky-lick-marketing-footer1>
