<div id="page" class="site">
  <header id="masthead" class="site-header">
  <licky-lick-marketing-menu [logo]="'assets/touch-icon-ipad.png'" [logoName]="'16 AHEAD'" [menuItems]="menuItems"></licky-lick-marketing-menu>
  <licky-lick-marketing-header2
    [headingText]="'We Got the News'"
    [descriptionText]="'Stay up to date with what\'s going on in the world by choosing from over 50 news sources, from ABC to YNET.'"
    [button1Link]="null"
    [button2Link]="null"
  ></licky-lick-marketing-header2>
</header>
</div>
<div id="content" class="site-content">
		<div id="primary" class="content-area">
			<main id="main" class="site-main">
        <licky-lick-marketing-features1
          [descriptionText]="'The news is not just information about what\'s happening in the world, but how does news relate to what\'s happening in your business. Using our proprietary AI model, stories are scanned to see how it can benefit your company. '"
          [featureHeading1]="'Selection'"
          [featureDescription1]="'Utilize the news-picker to select which news sources that suite your interest.'"
          [featureIcon1]="'icon-layers'"
          [featureHeading2]="'Current'"
          [featureDescription2]="'Stay up to date with top headlines from around the world.'"
          [featureIcon2]="'icon-clock'"
          [featureHeading3]="'Context'"
          [featureDescription3]="'If subscribed to our CRM product, news related to the contact or the contact\'s company is displayed.'"
          [featureIcon3]="'icon-user'"
        ></licky-lick-marketing-features1>
        <licky-lick-marketing-parallax1
        [headingText]="'Make the Call'"
        [descriptionText]="'When viewing a contact and you see something in the news related to their company, pick up the phone and comment on the story.  Build business relationships by having news topics to discuss.'"
        [imageURL]="'assets/news.jpg'"
        [textColor]="'#fff'"></licky-lick-marketing-parallax1>
        <licky-lick-marketing-about-product4
          [headingText]="'More than just news'"
          [descriptionText]="'By tieing the news to your contacts, the stories are now part of your relationship strategy.  Sure, you can digest the news to stay informed, but in the background 16 AHEAD digs into the story to find the information you can use to strengthen your relationship.'"
          [buttonLink]="null"
          [iconFeature1]="'icon-check'"
          [iconFeature2]="'icon-pin'"
          [iconFeature3]="'icon-info'"
          [iconFeature4]="'icon-map'"
          [featureText1]="'Top News Sources'"
          [featureText2]="'Choose One or Many'"
          [featureText3]="'News in Context'"
          [featureText4]="'All Over the World'"
          [featureBadgeText2]="null"
          [featureBadgeText3]="null"
        ></licky-lick-marketing-about-product4>
        <licky-lick-marketing-faq1
          [headingText]="'Frequently Asked Questions'"
          [descriptionText]="'Presented here are the top 3 questions about the News Service.'"
          [faqHeading1]="'What makes this News Service different?'"
          [faqDescription1]="'The aggregation of news from around the world is no different than any other news service you may have used. What is new is how we use the press to help you build relationships by digging through stories and offering suggestions of who to contact based on the news.'"
          [faqHeading2]="'Why should I try it?'"
          [faqDescription2]="'The News Service integrates with our CRM Service.  In the background, the application reviews stories and suggest people you should contact and on what topic.'"
          [faqHeading3]="'When is the software be available?'"
          [faqDescription3]="'We want to make sure the product is as close to perfect as possible before release. Check back often or help us expedite the release by signing up for our alpha version.'"
        ></licky-lick-marketing-faq1>
        <licky-lick-marketing-how-to1
          [descriptionText]="'Implementing these steps puts your business on the path to being more predictable.  A business owner or department manager willing to give time and attention to these steps will flourish.'"
          [header1]="'Sign Up'"
          [header2]="'Verification'"
          [header3]="'Login'"
          [description1]="'Simply provide an name, email address password, and link to your avatar (image you would like to use to depict yourself).'"
          [description2]="'After sign up you will receive an email to verify your email address.'"
          [description3]="'Once your email address has been verified you will be able to login and use the application.'"
        ></licky-lick-marketing-how-to1>
        <licky-lick-marketing-try-it1
          [headingText]="'Coming Soon Around Late Summer'"
          [buttonLink]="null"
        ></licky-lick-marketing-try-it1>
      </main>
    </div>
</div>
<licky-lick-marketing-footer1
  [headingText1]="'About'"
  [descriptionText]="'We believe in harnassing the power of computers, by not only collecting information, but analyzing the information, and proactively providing answers and courses of action. We also do not believe in searching, but finding.'"
  [column1Heading] = "'Projects'"
  [column1Text1] = "'CRM'"
  [column1Text2] = "'Project'"
  [column1Text3] = "'E-Commerce'"
  [column1Text4] = "'Task-Assistant'"
  [column1Text5] = "'SFA'"
  [column2Heading] = "'Support'"
  [column2Text1] = "'Github'"
  [column2Button1Link] = "'https://github.com/tshowers/licky-lick'"
  [column2Text2] = "'Privacy'"
  [column2Button2Link] = "'/about/privacy'"
  [column2Text3] = "'Contact'"
  [column2Button3Link] = "'/about/contact'"
  [column2Text4] = "null"
  [column2Text5] = "null"
  [column3Heading] ="null"
  [footerText] = "'Copyright Taliferro. All rights reserved.'"
  [router] = "router"
></licky-lick-marketing-footer1>
