<form #dataForm="ngForm"
      class="form-group">
  <div class="container-fluid">
    <div class="form-group">
      <label for="streetAddress">Search for Address</label>
      <input placeholder="search for location"
             id="streetAddress"
             name="streetAddress"
             autocorrect="off"
             autocapitalize="off"
             spellcheck="off"
             autocomplete="off"
             type="text"
             class="form-control form-control-lg ta-input-element"
             #search>
    </div>
    <br>
    <agm-map style="height: 15rem"
             [latitude]="latitude"
             [longitude]="longitude"
             [styles]="styles"
             [scrollwheel]="false"
             [zoom]="zoom">
      <agm-marker [latitude]="latitude"
                  [longitude]="longitude"></agm-marker>
    </agm-map>
    <br>
    <div class="form-group"> <label for="streetAddress">Street Address</label>

      <input [(ngModel)]="address.streetAddress"
             #streetAddress="ngModel"
             id="streetAddress"
             name="streetAddress"
             placeholder="Street Address"
             type="text"
             class="form-control form-control-lg ta-input-element"
             required
             autofocus>
      <div [hidden]="streetAddress.valid || streetAddress.pristine"
           class="alert alert-danger"> <i class="fa fa-exclamation-triangle"
           aria-hidden="true"></i> Street Address is required </div>
    </div>
    <div class="form-group"> <label for="city">City</label>

      <input [(ngModel)]="address.city"
             #city="ngModel"
             id="city"
             name="city"
             placeholder="City"
             type="text"
             class="form-control form-control-lg ta-input-element"
             pattern="[A-Za-z]+"
             required>
      <div [hidden]="city.valid || city.pristine"
           class="alert alert-danger"> <i class="fa fa-exclamation-triangle"
           aria-hidden="true"></i> City is required </div>
    </div>
    <div class="form-group"> <label for="state">State</label>

      <select [(ngModel)]="address.state"
              name="state"
              id="state"
              class="form-control form-control-lg ta-input-element">
        <option value=""></option>
        <option *ngFor="let s of states"
                value="{{s.name}}">{{s.name}}</option>
      </select> </div>
    <div class="form-group"> <label for="zip">Zip Code</label>

      <input [(ngModel)]="address.zip"
             #zip="ngModel"
             id="zip"
             name="zip"
             type="text"
             class="form-control form-control-lg ta-input-element"
             placeholder="Zip Code"
             required>
      <div [hidden]="zip.valid || zip.pristine"
           class="alert alert-danger">
        <i class="fa fa-exclamation-triangle"
           aria-hidden="true"></i> Zip code is required </div>
    </div>
    <div class="form-group"> <label for="contactCountry">Country</label>

      <input [(ngModel)]="address.country"
             #contactCountry="ngModel"
             id="contactCountry"
             name="contactCountry"
             type="text"
             class="form-control form-control-lg ta-input-element"
             placeholder="Country"
             [ngbTypeahead]="searchCountries"
             required>
      <div [hidden]="contactCountry.valid || contactCountry.pristine"
           class="alert alert-danger"> <i class="fa fa-exclamation-triangle"
           aria-hidden="true"></i> Country is required </div>
    </div>
    <div class="form-group"> <label for="addressType">Address Type</label>

      <select [(ngModel)]="address.addressType"
              name="addressType"
              id="addressType"
              class='form-control form-control-lg ta-input-element'>
        <option value=""></option>
        <option *ngFor="let e of addressTypes"
                value="{{e.name}}">{{e.name}}</option>
      </select> </div>
    <div class="checkbox abc-checkbox abc-checkbox-success abc-checkbox-circle">

      <input [(ngModel)]="address.draft"
             id="dataDraft"
             name="dataDraft"
             type="checkbox">
      <label for="dataDraft"
             title="Draft indicates the record is not finished and should not be made public">Private</label>
    </div>
    <div class="checkbox abc-checkbox abc-checkbox-success abc-checkbox-circle">

      <input [(ngModel)]="address.deleted"
             id="dataDeleted"
             name="dataDeleted"
             type="checkbox">
      <label for="dataDeleted"
             title="Checking deleted marks the record as deleted, but does not remove the record from the database">Deleted</label>
    </div>
    <div class="form-group"><label for="dataKeywords">Keywords</label>

      <input [(ngModel)]="address.keywords"
             id="dataKeywords"
             name="dataKeywords"
             type="text"
             class="form-control form-control-lg ta-input-element"
             placeholder="Enter keywords seperated by commas"></div>
    <div class="row">
      <div class="col text-center">
        <button class="btn btn-primary btn-lg btn-round"
                (click)="onSubmit()"
                type="submit"
                [disabled]="!dataForm.form.valid"
                title="Submit to database">Save <i class="fa fa-cloud"
             aria-hidden="true"></i>
        </button>
        <button *ngIf="canDelete"
                class="btn btn-danger btn-lg btn-round"
                (click)="onDelete();dataForm.reset()"
                [hidden]="!address.id">Delete <i class="fa fa-times"
             aria-hidden="true"></i>
        </button>
      </div>
    </div>
  </div>
</form>
