<header id="masthead"
        class="site-header">
        <app-nav></app-nav>
</header>
<div class="container mt-5 pt-5">
  <form #dataForm="ngForm"
        (ngSubmit)="onSubmit()"
        class="form-group">
    <div class="input-group">

      <input [(ngModel)]="searchArgument"
             id="phrase"
             name="phrase"
             type="text"
             class="form-control form-control-lg ta-input-element"
             placeholder="Find in all news ..."
             aria-label="Find ..."
             required
             autocomplete="off"
             [ngbTypeahead]="typeFindService.searchWiki"> <span class="input-group-btn">
        <button class="btn btn-primary"
                type="submit"
                [disabled]="!dataForm.form.valid">Find</button>
      </span> </div>
  </form>
</div>
<div class="container"
     *ngIf="searchArgument">
  <div class="text-center my-4"
       *ngIf="!searchResults">
    <i class="fa fa-circle-o-notch fa-spin fa-5x fa-fw text-theme"></i>
  </div>
  <licky-lick-app-widget-post3 *ngIf="searchResults"
                               [headingText]="searchHeading"
                               [viewAllLink]="null"
                               (pageEvent)="onPageEvent($event)"
                               [isExternal]="true"
                               [data]="searchResults"></licky-lick-app-widget-post3>
</div>
<div class="container"
     *ngIf="!searchArgument">
  <h1 *ngIf="boxes && (boxes.length > 0)">My News</h1>
  <licky-lick-app-widget-post4 [boxes]="boxes"
                               (pageEvent)="onPageEvent($event)"></licky-lick-app-widget-post4>
                               <h1>Top News</h1>
                               <licky-lick-app-widget-post2 [categories]="categories"
                                                            (pageEvent)="onPageEvent($event)"
                                                            [headingText]="'By Category'"
                                                            [tabData1]="businessArticles"
                                                            [tabData2]="entertainmentArticles"
                                                            [tabData3]="healthArticles"
                                                            [tabData4]="scienceArticles"
                                                            [tabData5]="sportsArticles"
                                                            [tabData6]="technologyArticles"></licky-lick-app-widget-post2>
<h1>Latest</h1>
  <licky-lick-app-widget-post1 [isExternal]="true"
                               (pageEvent)="onPageEvent($event)"
                               [data]="featuredNews"
                               [featuredData]="featuredArticle"></licky-lick-app-widget-post1>
  <licky-lick-marketing-latest-post1 [articles]="generalArticles"
                                     [headingText]="'Headlines'"
                                     (pageEvent)="onPageEvent($event)"
                                     [descriptionText]="'Top headlines from the most reliable news sources. Carefully curated to keep you abreast of what\'s happening in the world.'"></licky-lick-marketing-latest-post1>
  <div class="row">
    <div class="col-lg-8 blog__content">
      <licky-lick-app-widget-post3 [headingText]="'In Other News . . .'"
                                   [viewAllLink]="null"
                                   (pageEvent)="onPageEvent($event)"
                                   [isExternal]="true"
                                   [data]="topNews"></licky-lick-app-widget-post3>
    </div>
    <div class="col-lg-4 blog__content">
      <licky-lick-app-widget-weather></licky-lick-app-widget-weather>
    </div>
  </div>
</div>
<licky-lick-app-widget-footer [buttonLink]="null"></licky-lick-app-widget-footer>
