<div id="page"
     class="site">
  <header id="masthead"
          class="site-header">
    <app-nav></app-nav>
  </header>
</div>
<div id="content"
     class="site-content mt-5 pt-5">
  <div id="primary"
       class="content-area">
    <main id="main"
          class="site-main">
      <licky-lick-marketing-features3 [headingText]="'Products'"
                                      [imageURL]="'assets/images/connected.jpg'"
                                      [descriptionText]="'The products are under development. They are designed to complement each other and offer a workflow to increase productivity. Each product specializes in a particular paradigm, but the information is shared across the application to train artificial intelligent agents that provide suggested courses of action.'"
                                      [featureHeading1]="'News'"
                                      [featureDescription1]="'The news service is more than just news. An artificial intelligent agent monitors the news against contacts to offer suggestions on who to contact and why.'"
                                      [featureIcon1]="'icon-notebook'"
                                      [featureHeading2]="'Contact'"
                                      [featureDescription2]="'Not your typical customer relationship management system. This customer relationship management system has a dashboard containing which people to contact and their value to the business.'"
                                      [featureIcon2]="'icon-user'"
                                      [featureHeading6]="'Task'"
                                      [featureDescription6]="'Task assistance that not only tracks tasks but assigns tasks. Provides feedback and monitors task that may be taking too long.'"
                                      [featureIcon6]="'icon-clock'"
                                      [featureHeading4]="'Project'"
                                      [featureDescription4]="'Simple project management with just the facts on time and cost. How much has the project cost? How much budget is left?  What tasks are associated with the project? How much time remains until estimated completion?'"
                                      [featureIcon4]="'icon-briefcase'"
                                      [featureHeading5]="'e-Commerce'"
                                      [featureDescription5]="'Admittedly, not the best e-commerce solution, but gets the job done. The advantage is having e-commerce tied to all other systems. The artificial intelligent agents can then scour all associated system\'s data for parallels, relationships, and offer suggested courses of action for the e-commerce platform.'"
                                      [featureIcon5]="'icon-wallet'"
                                      [featureHeading3]="'Communication'"
                                      [featureDescription3]="'Since communication is a key business driver, chat, and email is integral to the business function. Having interface integrated with all systems allows for better customer service and customer management.'"
                                      [featureIcon3]="'icon-envelope-letter'"></licky-lick-marketing-features3>
      <licky-lick-marketing-features5 [descriptionText]="'Ever log into an application for the first time and wonder what to do? We believe that as soon as you log in to any of our applications, you will intuitively know what to do.'"
                                      [featureHeading1]="'Simplicity'"
                                      [featureIcon1]="'icon-diamond'"
                                      [featureDescription1]="'A standard interface across all applications reduces training and improves productivity.'"
                                      [featureHeading2]="'Workflow'"
                                      [featureDescription2]="'Knowing what to do next in the business process is often ad-hoc. We\'re striving to make operations less improvisational and more intuitive and structured.'"
                                      [featureIcon2]="'icon-direction'"
                                      [featureHeading3]="'Integration'"
                                      [featureIcon3]="'icon-refresh'"
                                      [featureDescription3]="'How can you truly know the value of data if all systems are separate? It just makes sense that data sharing is across ALL applications.'"></licky-lick-marketing-features5>
      <licky-lick-marketing-about-product5 [featureText]="'App Fatigue?'"
                                           [headingText]="'Shared Information'"
                                           [iconFeature]="'icon-puzzle'"
                                           [imageURL]="'assets/images/app-fatigue.jpg'"
                                           [descriptionText]="'16AHEAD is an integrated application utilizing software agents that attempt to learn your business. The goal is to develop a SaaS, Mission Operations Platform (MOP) scalable for the Enterprise and elastic for SMBs. Simple navigation by enabling up next workflow technology. Applications that intuitively help you accomplish your mission by answering the question: what\'s the status of my business right now?'"
                                           [buttonLink]="null"></licky-lick-marketing-about-product5>
      <licky-lick-marketing-parallax1 [headingText]="'Coming Soon'"
                                      [textColor]="'#ffffff'"
                                      [imageURL]="'assets/images/integrated-application.jpg'"
                                      [descriptionText]="'Starting in late summer, incremental releases of various software services will occur. Starting with News, followed by CRM.'"></licky-lick-marketing-parallax1>
      <licky-lick-marketing-faq2 [descriptionText]="'History is important because as I’m sure you\’re aware, the very best ideas can come from the unexpected encounters. Ideas are incredibly fragile and are not predictable for when you\’ll have them. So over the years, we have been cultivating our experiences into code that increases the probability of good ideas, and when we have perfect ideas arrive, we can nurture and mold it into code that is beneficial to everyone.'"
                                 [faqHeading1]="'What is 16AHEAD?'"
                                 [faqDescription1]="'16AHEAD is a culmination of work experiences, where we create lots and lots of models and process functions. Where what we’re building should be inseparable. For every complete application you see we have to incorporate in the tool creation process, intelligence with experimentation. We work very hard to create a single application that has many different business facets.'"
                                 [faqHeading2]="'Why not just focus on one thing?'"
                                 [faqDescription2]="'We have made it a practice to have our heads down and work. Ignore the reasons and critiques of why something shouldn’t be possible.  You would be surprised at the level of growth and change of 16AHEAD from its infancy. You understand the nature of business so much more when you know how your own business came to be. Hence, you will reap the rewards from us developing software for our own business.'"
                                 [faqHeading3]="'What is your vision?'"
                                 [faqDescription3]="'We intend to create software that is data-aware. We want to create a software product that disappears into the experience.  Developing software that performs several business processes together defines a whole new integration — making the boundary between software and business process hard to discern. The machine learning engine is engineered to ascertain the way you work. Separate applications give way to fluidity and transparency. No multiple logins. A single entry point takes you to real-time views of various business paradigms.  Making processes and data are more liquid.'"
                                 [faqHeading4]="'What do you hope to achieve?'"
                                 [faqDescription4]="'Our goal is to simplify and improve continuously.  From simple data entry to taking the pains out of searching, we blur the lines of machine learning and intuition that make data entry challenges disappear.  Each refinement attempts to bring unity to the business process. To define one truly uninterrupted form, we\'ve developed a whole new method to achieve seamless transition with our Next button.  Intelligent software agents adjust information required based on circumstance and stage.'">
      </licky-lick-marketing-faq2>
    </main>
  </div>
</div>
<licky-lick-marketing-footer2 [buttonText1]="'Home'"
                              [buttonLink1]="'/'"
                              [buttonText2]="'Privacy'"
                              [buttonLink2]="'/privacy'"
                              [buttonText3]="'Terms'"
                              [buttonLink3]="'/terms'"
                              [buttonLink4]="null"
                              [socialText1]="'Twitter'"
                              [socialText2]="'GitHub'"
                              [socialText3]="'YouTube'"
                              [socialText4]="null"
                              [socialText5]="null"
                              [socialLink1]="'https://twitter.com/16Ahead'"
                              [socialLink2]="'https://github.com/tshowers/licky-lick'"
                              [socialLink3]="'https://www.youtube.com/channel/UCmsqXdXkbD8Seh-kvHPApig'"
                              [socialLink4]="null"
                              [socialLink5]="null"
                              [socialIcon1]="'fa-twitter'"
                              [socialIcon2]="'fa-github'"
                              [socialIcon3]="'fa-youtube'"
                              [router]="router"></licky-lick-marketing-footer2>
