<licky-lick-app-widget-menu [router]="router"
                            [db]="dm.db"
                            [photoURL]="dm.photoURL"
                            [displayName]="dm.displayName"
                            [messageLink]="'/application/notification/messages'"
                            [alertLink]="'/application/notification/alerts'"
                            [taskLink]="'/application/notification/tasks'"
                            [emailAddress]="dm.emailAddress"
                            [loggedIn]="dm.loggedIn"
                            [userName]="dm.userName"
                            [emailVerified]="dm.emailVerified"
                            (settingsEvent)="onSettings()"
                            [placeholder]="'Find a Product . . .'"
                            (searchEvent)="onSearch($event)"
                            (profileEvent)="onViewProfile()"
                            [logoutPage]="'/application/logout'"
                            [loginService]="dm.loginService"></licky-lick-app-widget-menu>
<div class="app-body">
  <licky-lick-app-widget-left-side-menu [newsService]="dm.newsService"></licky-lick-app-widget-left-side-menu>
  <main class="main">
    <div class="container-fluid">
          <licky-lick-app-widget-breadcrumb [crumbs]="crumbs" (pageEvent)="onBreadCrumb($event)"></licky-lick-app-widget-breadcrumb>
          <app-context-nav [store]="store" [context]="'product'"></app-context-nav>


          <div>
            <div class="container-fluid">
              <div class="row">
                <div class="col">
                  <div class="ta-work-back">
                    <div class="text-center" *ngIf="product?.url"> <img src="{{product?.url}}" alt="{{product?.name}}" class="rounded" style="max-width: 600px" /> </div>
                    <div>
                      <h4>{{product?.name}}</h4>
                      <div innerHTML={{product?.description}}></div>
                      <div>
                        <div class="row">
                          <div class="col" *ngIf="product?.manufacturer">{{product?.manufacturer}}</div>
                          <div class="col" *ngIf="product?.author">{{product?.author}}</div>
                        </div>
                        <div class="row">
                          <div class="col ta-label">category</div>
                          <div class="col">{{product?.category}}</div>
                          <div class="col ta-label">discontinued</div>
                          <div class="col">{{product?.discontinued}}</div>
                        </div>
                        <div class="row">
                          <div class="col ta-label">lead time</div>
                          <div class="col">{{product?.leadTime}}</div>
                          <div class="col ta-label">order quantity</div>
                          <div class="col">{{product?.orderQuantity}}</div>
                        </div>
                        <div class="row">
                          <div class="col ta-label">price</div>
                          <div class="col">{{product?.price | currency:'USD':'symbol'}} <span *ngIf="product?.hourlyRate"> <small>per hour</small></span></div>
                          <div class="col ta-label">subscription</div>
                          <div class="col"></div>
                        </div>
                        <div class="row">
                          <div class="col ta-label">sale price</div>
                          <div class="col">{{product?.salePrice | currency:'USD':'symbol'}} <span *ngIf="product?.hourlyRate"> <small>per hour</small></span></div>
                          <div class="col ta-label">on Sale</div>
                          <div class="col">{{product?.onSale}}</div>
                        </div>
                        <div class="row" *ngIf="canEdit">
                          <div class="col ta-label">sku</div>
                          <div class="col">{{product?.sku}}</div>
                          <div class="col ta-label">re-order level</div>
                          <div class="col">{{product?.reOrderLevel}}</div>
                        </div>
                        <div class="row">
                          <div class="col ta-label">weight</div>
                          <div class="col">{{product?.weight}}</div>
                          <div class="col ta-label">height</div>
                          <div class="col">{{product?.height}}</div>
                        </div>
                        <div class="row">
                          <div class="col ta-label">width</div>
                          <div class="col">{{product?.width}}</div>
                          <div class="col ta-label">length</div>
                          <div class="col">{{product?.length}}</div>
                        </div>
                        <div class="row" *ngIf="canEdit">
                          <div class="col ta-label">units on order</div>
                          <div class="col">{{product?.unitsOnOrder}}</div>
                          <div class="col ta-label">units in stock</div>
                          <div class="col">{{product?.unitsInStock}}</div>
                        </div>
                        <div class="row" *ngIf="canEdit">
                          <div class="col ta-label">id</div>
                          <div class="col"> <small>{{product?.id}}</small> </div>
                          <div class="col ta-label">catalog</div>
                          <div class="col"> <small>{{product?.catalog_id}}</small> </div>
                        </div>
                      </div>
                      <app-social *ngIf="canRead" [data]="product" [path]="'/app/stores/' + store?.id + '/products/'" [iconClass]="'fa fa-tags'"></app-social>
                      <div class="row">
                        <div class="col text-center">
                          <button *ngIf="canEdit" class="btn btn-primary btn-lg btn-round" (click)="onEdit()">Edit
                              <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                            </button> <button *ngIf="canDelete" class="btn btn-danger btn-lg btn-round" (click)="onDelete()">Delete
                              <i class="fa fa-times" aria-hidden="true"></i>
                            </button>
                        </div>
                      </div>
                      <app-data-footer *ngIf="canDelete" [data]="product"></app-data-footer>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card" style="width: 20rem;">
                    <div class="card-body">
                      <h1>
                        <span *ngIf="!product.onSale" class="badge badge-pill badge-theme ta-large">{{product?.price | currency:'USD':'symbol'}} <span *ngIf="product.hourlyRate"> <br><small>per hour</small> </span></span>
                        <span *ngIf="product.onSale" class="badge badge-pill badge-success ta-large">{{product?.salePrice | currency:'USD':'symbol'}} <span *ngIf="product.hourlyRate"> <br><small>per hour</small></span></span>
                      </h1>
                      <h4 class="card-title">{{product?.name}}</h4>
                      <div innerHTML={{product?.longDescription}}></div> <button class="btn btn-lg btn-block btn-outline-primary" (click)="onAddToCart()"> <i class="fa fa-shopping-cart" aria-hidden="true"></i> Add to Cart</button> </div>
                  </div>
                </div>
              </div>
            </div>
          </div>


    </div>
    <licky-lick-app-page [diagnostics]="diagnostic"></licky-lick-app-page>
    <licky-lick-app-widget-chat-popup></licky-lick-app-widget-chat-popup>
  </main>
  <licky-lick-app-widget-right-side-menu [panelHeaderText]="'Help'"
                                         [helpHeaderText]="'Product List'"
                                         [descriptionText]="'This page displays a list of topics entered into the system.'"
                                         [header1]="'Find'"
                                         [description1]="'To find a specific topic, use the search box at the top of the screen.'"
                                         [header2]="'Actions'"
                                         [description2]="'You have the choice to edit, view or mark a topic for deletion - if your edit privileges allow.'"
                                         [header3]="'Deleted'"
                                         [description3]="'Deleted topics display as faint text.'"></licky-lick-app-widget-right-side-menu>
</div>
<licky-lick-app-widget-footer [buttonLink]="null"></licky-lick-app-widget-footer>
