<div id="page" class="site">
  <header id="masthead" class="site-header">
  <licky-lick-marketing-menu [logo]="'assets/touch-icon-ipad.png'" [logoName]="'16 AHEAD'" [menuItems]="menuItems"></licky-lick-marketing-menu>
  <licky-lick-marketing-header3
  [heading]="'16 AHEAD'"
  [buttonLink1]="null"
  [buttonLink2]="null"
  [headerText]="'Customer Relationship Management'"
  [descriptionText]="'Your business should exist to improve the quality of life. A serious consideration - how are contacts processed and used throughout a business?'"
  [imageURL1]="'assets/crm2.jpg'"
  [imageURL2]="'assets/crm3.jpg'"
  ></licky-lick-marketing-header3>
</header>
</div>
<div id="content" class="site-content">
		<div id="primary" class="content-area">
			<main id="main" class="site-main">
        <licky-lick-marketing-features2
        [headingText]="'Lessons Learned'"
        [descriptionText]="'Successful businesses are dependent on systems not people. Try and understand what you’re doing in your business and figure out how not to do it.  Gather opportunities, don’t try and solve every problem.  Don’t work too many hours doing trivial tasks.'"
        [featureHeading1]="'Automation'"
        [featureDescription1]="'Relationship management is automated through data mining and data analysis.'"
        [featureHeading2]="'Fulfillment'"
        [featureDescription2]="'In an open environment other users can pick up the overlooked pieces within a system.'"
        [featureHeading3]="'Sharing'"
        [featureDescription3]="'The company mission statement and contact dashboard is availble to each user.'"
        >
      </licky-lick-marketing-features2>
        <licky-lick-marketing-about-product3
        [badgeText]="null"
        [headingText]="'Insight'"
        [descriptionText]="'A business should be able to run without its owners.  When owners are deeply involved in the business the business will eventually fail.  The goal is to implement as much automation as possible so the business functions without the owners.'" [bulletText1]="'No management system'" [bulletText2]="'No vision'" [bulletText3]="'No infrastructure'"
        [imageURL1]="'assets/crm4.jpg'"
        [imageURL2]="'assets/crm5.jpg'"
        [buttonLink]="null"
        ></licky-lick-marketing-about-product3>
        <licky-lick-marketing-parallax1
        [headingText]="'Business is a brand'"
        [descriptionText]="'Energy should be focused on creating a brand, implementing proper management, vision and infrastructure.  It is important to be able to say this is who you are and this is how you do business.  Everyday passing day should be an opportunity to generate another sale.  Create turnkey operations that generate predictable results.'"
        [imageURL]="'assets/crm1.jpg'"
        [textColor]="'#fff'"
        ></licky-lick-marketing-parallax1>
        <licky-lick-marketing-faq2
          [descriptionText] = "'A company loses customers far more than they should. The only real way to measure and keep customers is to know their value. We let you know the value of each contact.'"
          [faqHeading1] = "'What makes this software different?'"
          [faqDescription1] = "'Using artificial intelligence we proactively suggest courses of action, such as who is important to contact today.'"
          [faqHeading2] = "'Why should I try it?'"
          [faqDescription2] = "'We help our customers know, what is Next. We remove the frustration from having to login into multiple applications by offerring a suite of tools.'"
          [faqHeading3] = "'How will this software help me?'"
          [faqDescription3] = "'Data is analyzed on the backend and based on what you enter, the application learns what is relevant to your business'"
          [faqHeading4] = "'When is the software be available?'"
          [faqDescription4] = "'We want to make sure the product is as close to perfect as possible before release. Check back often or help us expedite the release by signing up for our alpha version.'"
        ></licky-lick-marketing-faq2>
        <licky-lick-marketing-how-to1
          [descriptionText]="'Implementing these steps puts your business on the path to being more predictable.  A business owner or department manager willing to give time and attention to these steps will flourish.'"
          [header1]="'Sign Up'"
          [header2]="'Verification'"
          [header3]="'Login'"
          [description1]="'Simply provide an name, email address password, and link to your avatar (image you would like to use to depict yourself).'"
          [description2]="'After sign up you will receive an email to verify your email address.'"
          [description3]="'Once your email address has been verified you will be able to login and use the application.'"
        ></licky-lick-marketing-how-to1>
        <licky-lick-marketing-try-it2 [headingText]="'Coming Late Summer'" [descriptionText]="'Upon launch, 100% garaunteed satisfaction or your money back.'" [buttonLink]="null"></licky-lick-marketing-try-it2>
      </main>
    </div>
</div>
<licky-lick-marketing-footer1
  [headingText1]="'About'"
  [descriptionText]="'We believe in harnassing the power of computers, by not only collecting information, but analyzing the information, and proactively providing answers and courses of action. We also do not believe in searching, but finding.'"
  [column1Heading] = "'Projects'"
  [column1Text1] = "'News'"
  [column1Text2] = "'Project'"
  [column1Text3] = "'E-Commerce'"
  [column1Text4] = "'Task-Assistant'"
  [column1Text5] = "'SFA'"
  [column2Heading] = "'Support'"
  [column2Text1] = "'Github'"
  [column2Text2] = "'Privacy'"
  [column2Button2Link] = "'/about/privacy'"
  [column2Text3] = "'Contact'"
  [column2Button3Link] = "'/about/contact'"
  [column2Text4] = "null"
  [column2Text5] = "null"
  [column3Heading] ="null"
  [footerText] = "'Copyright Taliferro. All rights reserved.'"
></licky-lick-marketing-footer1>
