<div class="card mx-auto d-block ta-max-view">
  <div class="card-header">
    <a title="Go To Contact"
       routerLink="/app/contacts/{{contact?.id}}">
      <h4 class="my-0 font-weight-normal"><span *ngIf="contact?.company">{{contact?.company.name}}
          <br></span>
        <span *ngIf="contact"> {{contact?.firstName}} {{contact?.lastName}}</span>
        <i class="fa fa-link"
           aria-hidden="true"></i></h4>
    </a> </div>
  <div class="card-body">
    <p class="card-text">{{ justText?.name }}</p>
    <div innerHTML={{justText?.text}}></div>
    <button *ngIf="canEdit"
            class="btn btn-primary btn-lg btn-round"
            (click)="onEdit()">Edit <i class="fa fa-pencil-square-o"
         aria-hidden="true"></i>
    </button>
    <button *ngIf="canDelete"
            class="btn btn-danger btn-lg btn-round"
            (click)="onDelete()">Delete <i class="fa fa-times"
         aria-hidden="true"></i>
    </button>
  </div>
</div>
